{% extends 'base_menu.html' %}
{% block title %}My Profile{% endblock %}

{% block content %}
{% load static %}
<h1>Your Profile</h1>
<div>
	<label>Name:</label>
	<p>{{ user.first_name }} {{ user.last_name }}</p>
	<label>Email address:</label>
		<p>{{ user.email }}</p>
	<label>Phone:</label>
		<p>{{ user.phone }}</p>
	<label>Registered Vehicle Number:</label>
		<p>{{ user.reg_plate1 }}</p>
	<label>Emergency Contact Number:</label>
		<p>{{ user.contact_phone1 }}</p>
</div>
<div>
	{% if user.has_usable_password %}
	<a href="{% url 'edit_profile' %}">Edit Profile</a><br>
	{% endif %}
    <a href="{% url 'logout' %}">Logout</a><br>
</div>
{% endblock %}