{% extends "base_menu.html" %}

{% block title %}
Sign In
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <form method="post" class="from-group">
    <h3>Sign In</h3>
	{% csrf_token %}
	{{form|crispy}}
	<p>Don't have an account? Create one <a href="{% url 'register' %}">here</a></p>
	<button type="submit" class="btn btn-dark btn-lg btn-block">Sign In</button>

	<p class="forgot-password text-right mt-2 mb-4">
    <a href="{% url 'password_reset' %}">Forgot your password?</a>
	</p>

    </form>

{% endblock %}
